<h2 class="footer__title section__title">
  All eCommerce CMS platforms supported
</h2>

<p class="footer__desc section__desc">
  Magento 2, Shopify, WooCommerce, BigCommerce, Opencart and more.
</p>

<div class="footer__sponsor">
  <img
    src="./assets/img/footer/magento.svg"
    alt="Sponsor"
    class="footer__sponsor-img"
  />
  <img
    src="./assets/img/footer/shopify.svg"
    alt="Sponsor"
    class="footer__sponsor-img"
  /><img
    src="./assets/img/footer/woocommerce.svg"
    alt="Sponsor"
    class="footer__sponsor-img"
  /><img
    src="./assets/img/footer/bigcommerce.svg"
    alt="Sponsor"
    class="footer__sponsor-img"
  /><img
    src="./assets/img/footer/opencart.svg"
    alt="Sponsor"
    class="footer__sponsor-img"
  />
</div>
