<div class="container">
    <nav class="navbar">
        <!-- Logo -->
        <a href="./" class="navbar__logo">
            <img src="./assets/icons/logo.svg" class="logo" alt="Logo"></img>
        </a>

        <!-- Navbar -->
        <ul class="navbar__list">
            <li>
                <a href="#" class="navbar__link">Product</a>
            </li>
            <li>
                <a href="#" class="navbar__link">Pricing</a>
            </li>
            <li>
                <a href="#" class="navbar__link">Contact us</a>
            </li>
            <li>
                <a href="#" class="navbar__link">Blog</a>
            </li>
            <li>
                <a href="#" class="navbar__link">About Us</a>
            </li>
        </ul>

        <!-- Actions -->
        <div class="cta">
            <a href="#" class="cta__link">Login</a>
            <button class="cta__button cta__button--small">Book a Demo</button>
        </div>

        <!-- More -->
        <img src="./assets/icons/more.svg" alt="more-icon" class="navbar__more-icon">
    </nav>
</div>
