<div class="container">
    <div class="hero__inner">
        <div class="hero__inner-column--left">
            <h1 class="hero__title">
                Online catalog management
                <img
                    src="./assets/img/hero-1.jpg"
                    alt="People"
                    class="hero__title-image"
                />
                tool
            </h1>
            <p class="hero__desc">
                Skyrocket your online store conversion rate the customer
                experience with visual merchandising.
            </p>
            <div class="hero__button">
                <button class="cta__button cta__button--medium">
                    Book a Demo
                </button>
                <button class="cta__button cta__button--large">
                    Ask a Question
                </button>
            </div>
        </div>
        <img
            src="./assets/img/hero-dashboard.png"
            alt="Dashboard"
            class="hero__main-img"
        />
    </div>
</div>
