<div class="container">
    <div class="services__inner">
        <h2 class="services__title section__title">
            Merchandising to increase sales.
        </h2>
        <div class="services__list row gx-5 gy-3">
            <div class="services__item col-4 col-md-12">
                <img
                    src="./assets/img/services-1.svg"
                    alt=""
                    class="services__item-img"
                />
                <h3 class="services__item-title">
                    Conversion rate skyrockets.
                </h3>
                <p class="services__item-desc">
                    Convert more online sales with our visual merchandising
                    interface.
                </p>
            </div>

            <div class="services__item col-4 col-md-12">
                <img
                    src="./assets/img/services-2.svg"
                    alt=""
                    class="services__item-img"
                />
                <h3 class="services__item-title">
                    Increase average order value
                </h3>
                <p class="services__item-desc">
                    Increase average order value of your online store by 17%
                    with this little trick.
                </p>
            </div>

            <div class="services__item col-4 col-md-12">
                <img
                    src="./assets/img/services-3.svg"
                    alt=""
                    class="services__item-img"
                />
                <h3 class="services__item-title">
                    Spend less time for management
                </h3>
                <p class="services__item-desc">
                    Let your employees spend less time managing the online
                    selling it.
                </p>
            </div>
        </div>
    </div>
</div>
