<div class="container">
    <div class="works__inner">
        <h2 class="works__title section__title">How Smaller works</h2>
        <p class="works__desc section__desc">
            Smaller is a cloud-based tool for merchandisers and eCommerce
            professionals.
        </p>
        <div class="works__list">
            <div class="works__item">
                <div class="works__item--column-1">
                    <img
                        src="./assets/img/works/work-1.png"
                        alt=""
                        class="works__item-img"
                    />
                </div>
                <div class="works__item--column-2 active">1</div>
                <div class="works__item--column-3">
                    <h3 class="works__item-title">
                        Set basic sorting rules for any categories
                    </h3>
                    <p class="works__item-desc">
                        Bulk sort products on any category page you need,
                        combine different sort rules:
                    </p>
                    <ul class="works__item-benefits">
                        <li>Newest</li>
                        <li>Bestseller</li>
                        <li>Most reviewable</li>
                        <li>Price</li>
                        <li>Custom Attribute</li>
                    </ul>
                </div>
            </div>
            <div class="works__item">
                <div class="works__item--column-1">
                    <img
                        src="./assets/img/works/work-2.png"
                        alt=""
                        class="works__item-img"
                    />
                </div>
                <div class="works__item--column-2">2</div>
                <div class="works__item--column-3">
                    <h3 class="works__item-title">
                        Drag and Drop catalog management
                    </h3>
                    <p class="works__item-desc">
                        Use the Drag and Drop function to sort your products in
                        the most intuitive, quickest way.
                    </p>

                    <p class="works__item-desc">
                        Set scores for products by adding number, SKUs with
                        higher scores will be displayed on top of the category
                        pages.
                    </p>
                </div>
            </div>
            <div class="works__item">
                <div class="works__item--column-1">
                    <img
                        src="./assets/img/works/work-3.png"
                        alt=""
                        class="works__item-img"
                    />
                </div>
                <div class="works__item--column-2">3</div>
                <div class="works__item--column-3">
                    <h3 class="works__item-title">
                        Limit and add product groups per category pages
                    </h3>
                    <p class="works__item-desc">
                        Achieve a certain variety on your catalog pages:
                    </p>
                    <ul class="works__item-benefits">
                        <li>
                            Ensure the page does not contain identical products:
                            same color, style or type.
                        </li>
                        <li>
                            Hide and add the desired products or product groups
                            on the category page.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="works__item">
                <div class="works__item--column-1">
                    <img
                        src="./assets/img/works/work-1.png"
                        alt=""
                        class="works__item-img"
                    />
                </div>
                <div class="works__item--column-2">4</div>
                <div class="works__item--column-3">
                    <h3 class="works__item-title">
                        Control poor-selling products
                    </h3>
                    <p class="works__item-desc">
                        Sortler provides flexible features for the management of
                        your low-selling items.
                    </p>
                    <ul class="works__item-benefits">
                        <li>Tracking low-selling items</li>
                        <li>Raising the item position to the top.</li>
                        <li>Applying discounts</li>
                    </ul>
                </div>
            </div>
            <div class="works__item">
                <div class="works__item--column-1">
                    <img
                        src="./assets/img/works/work-4.png"
                        alt=""
                        class="works__item-img"
                    />
                </div>
                <div class="works__item--column-2">5</div>
                <div class="works__item--column-3">
                    <h3 class="works__item-title">
                        Create rules of low-stock and out-of-stock products
                    </h3>
                    <p class="works__item-desc">
                        Place low-stock items at the top of your product list.
                        Move out-of-stock products down the catalog.
                    </p>
                    <ul class="works__item-benefits">
                        <li>
                            <span>Place low-stock</span> items at the top of
                            your product list. Move out-of-stock products down
                            the catalog.
                        </li>
                        <li>
                            <span>Create rules</span> for applying discounts in
                            your catalog. Simplify loyalty program management,
                            thereby increasing sales.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
