/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Roobert, sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

button,
select,
textarea,
input {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1440px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
:root {
  --text-dark-color: #2d2d2d;
  --text-light-dark-color: #676562;
  --header-bg: #f2ede6;
  --text-navbar-mobile-color: #6672a9;
  --text-navbar-active-mobile-color: #3764fc;
  --navbar-mobile-shadow-color: rgba(0, 0, 0, 0.1);
  --button-yellow-color: #f7d047;
  --text-white-color: #f2ede6;
  --hero-desc-color: #676562;
  --white: #fff;
  --black: #000;
  --services-bg-color: #005461;
  --section-desc-color: rgba(255, 255, 255, 0.8);
  --works-img-border-color: #018294;
  --number-works-item-bg-color: #f7d047;
  --features-icon-bg-color: #018294;
}

@media (max-width: 991.98px) {
  .navbar__logo {
    order: 2;
  }
}
@media (max-width: 575.98px) {
  .navbar__logo {
    order: 1;
    width: 74px;
  }
}

.cta__button {
  height: 58px;
  width: 310px;
  background-color: var(--button-yellow-color);
  border-radius: 999px;
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1;
  color: var(--text-dark-color);
}

.cta__button--large {
  width: 189px;
  background-color: transparent;
  border: 1px solid var(--text-light-dark-color);
}
@media (max-width: 1199.98px) {
  .cta__button--large {
    width: 164px;
    font-size: 1.5rem;
  }
}
@media (max-width: 575.98px) {
  .cta__button--large {
    width: 111.079px;
    height: 34.088px;
    font-size: 1.1167rem;
    line-height: 1;
  }
}

.cta__button--medium {
  width: 175px;
}
@media (max-width: 1199.98px) {
  .cta__button--medium {
    width: 150px;
    font-size: 1.5rem;
  }
}
@media (max-width: 575.98px) {
  .cta__button--medium {
    width: 102.851px;
    height: 34.088px;
    font-size: 1.1167rem;
    font-weight: 500;
    line-height: 1;
  }
}

.cta__button--small {
  width: 156px;
  height: 54px;
  color: var(--text-white-color);
  background-color: var(--text-dark-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 112.5%;
}

.section__title {
  padding: 140px 0 71px;
  font-size: 5rem;
  font-weight: 600;
  line-height: 108%;
  color: var(--white);
  text-align: center;
}
@media (max-width: 575.98px) {
  .section__title {
    font-size: 3rem;
    line-height: 126.667%;
    padding: 50px 0 40px;
    max-width: 340px;
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .section__title {
    padding-top: 80px;
  }
}
.section__desc {
  color: var(--section-desc-color);
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 575.98px) {
  .section__desc {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
  }
}

.cta, .navbar__list, .navbar {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-bg);
  z-index: 999;
}

.navbar {
  padding: 30px 120px;
}
@media (max-width: 1399.98px) {
  .navbar {
    padding: 30px 0;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    justify-content: space-between;
  }
}
.navbar__list {
  column-gap: 36px;
  margin-right: auto;
  margin-left: 71.73px;
}
@media (max-width: 991.98px) {
  .navbar__list {
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: flex-start;
    margin-left: 0;
    right: 65%;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 1px 2px 0px var(--navbar-mobile-shadow-color);
    transform: translateX(-100%);
    transition-property: opacity, transform, visibility;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 575.98px) {
  .navbar__list {
    right: 20%;
  }
}
.navbar__list.fadeIn {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.navbar__item {
  transition-property: background-color;
  transition-duration: 0.3s;
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
    border-radius: 15px;
  }
}
@media (max-width: 991.98px) {
  .navbar__item:hover {
    background-color: #ebeffd;
  }
}
@media (max-width: 991.98px) {
  .navbar__item:hover .navbar__link {
    color: var(--text-navbar-active-mobile-color);
  }
}
.navbar__link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 112.5%;
  color: var(--text-dark-color);
  transition-property: color;
  transition-duration: 0.3s;
}
@media (max-width: 991.98px) {
  .navbar__link {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 1.8rem;
    color: var(--text-navbar-mobile-color);
    padding-left: 15px;
  }
}
.navbar__more-icon {
  display: none;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .navbar__more-icon {
    display: block;
    order: 1;
  }
}
@media (max-width: 575.98px) {
  .navbar__more-icon {
    display: block;
    order: 2;
  }
}

.cta {
  gap: 28px;
}
@media (max-width: 991.98px) {
  .cta {
    order: 3;
  }
}
@media (max-width: 575.98px) {
  .cta {
    display: none;
  }
}
.cta__link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 112.5%;
  color: var(--text-dark-color);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: opacity, transform, visibility;
  transition-duration: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.hero {
  background-color: var(--header-bg);
  padding: 184px 0 90px;
}
@media (max-width: 991.98px) {
  .hero {
    padding: 124px 0 40px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding-top: 102px;
  }
}
.hero__inner {
  padding: 0 120px;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
@media (max-width: 1399.98px) {
  .hero__inner {
    padding: 0;
    gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .hero__inner {
    flex-direction: column;
  }
}
.hero__inner-column--left {
  flex-shrink: 0;
  width: 570px;
}
@media (max-width: 1399.98px) {
  .hero__inner-column--left {
    width: 540px;
  }
}
@media (max-width: 1199.98px) {
  .hero__inner-column--left {
    width: 420px;
  }
}
@media (max-width: 991.98px) {
  .hero__inner-column--left {
    width: 100%;
  }
}
.hero__title {
  font-size: 7.8rem;
  font-weight: 600;
  line-height: 112.821%;
  letter-spacing: 0.078rem;
  margin-top: 36px;
}
@media (max-width: 1399.98px) {
  .hero__title {
    font-size: 6rem;
  }
}
@media (max-width: 1199.98px) {
  .hero__title {
    font-size: 5.5rem;
  }
}
@media (max-width: 991.98px) {
  .hero__title {
    font-size: 7.1rem;
    text-align: center;
    letter-spacing: 8px;
  }
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 6rem;
  }
}
@media (max-width: 575.98px) {
  .hero__title {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 115.556%;
    letter-spacing: 0.045rem;
    margin-top: 0px;
    text-align: start;
  }
}
.hero__title-image {
  width: 174px;
  height: 56px;
  border-radius: 999px;
  object-fit: cover;
}
@media (max-width: 1399.98px) {
  .hero__title-image {
    height: 45px;
    width: 160px;
  }
}
@media (max-width: 991.98px) {
  .hero__title-image {
    width: 160px;
    height: 40px;
  }
}
@media (max-width: 575.98px) {
  .hero__title-image {
    width: 102.263px;
    height: 32.912px;
  }
}
.hero__desc {
  margin: 20px 0 44px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 170%;
  color: var(--hero-desc-color);
}
@media (max-width: 1399.98px) {
  .hero__desc {
    font-size: 1.7rem;
  }
}
@media (max-width: 1199.98px) {
  .hero__desc {
    font-size: 1.5rem;
  }
}
@media (max-width: 991.98px) {
  .hero__desc {
    font-size: 1.8rem;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .hero__desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.732%;
    text-align: start;
    margin: 10.41px 0 20.32px;
  }
}
.hero__button {
  display: flex;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .hero__button {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .hero__button {
    justify-content: flex-start;
    gap: 17.63px;
  }
}
.hero__main-img {
  width: 650px;
}
@media (max-width: 1399.98px) {
  .hero__main-img {
    width: 600px;
  }
}
@media (max-width: 1199.98px) {
  .hero__main-img {
    width: 512px;
  }
}
@media (max-width: 991.98px) {
  .hero__main-img {
    width: 100%;
    margin: 20px auto 0;
  }
}

.services {
  background: var(--services-bg-color);
}
.services__inner {
  padding: 0 120px;
}
@media (max-width: 1399.98px) {
  .services__inner {
    padding: 0;
  }
}
.services__list {
  --grid-gutter-x: 80px;
  justify-content: center;
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1 + 10px);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1 + 10px);
  margin-top: 0;
  color: var(--white);
}
.services__list > * {
  width: calc(33.3333333333% - 20px);
  margin: 0;
}
@media (max-width: 767.98px) {
  .services__list > * {
    width: 95%;
    margin-bottom: 30px;
  }
}
@media (max-width: 1199.98px) {
  .services__list {
    --grid-gutter-x: 50px;
  }
}
@media (max-width: 991.98px) {
  .services__list {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .services__list {
    flex-direction: column;
    align-items: center;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__item-title {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 121.429%;
  text-align: center;
  margin: 43.13px 0 18px;
}
.services__item-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
  text-align: center;
}
.services__item-img {
  height: 154px;
}

.works {
  background-color: var(--services-bg-color);
}
.works__inner {
  padding: 0 120px;
}
@media (max-width: 1399.98px) {
  .works__inner {
    padding: 0;
  }
}
.works__title {
  padding-bottom: 18px;
}
.works__desc {
  margin-bottom: 70px;
}

.works__list {
  display: flex;
  flex-direction: column;
  row-gap: 140px;
}
@media (max-width: 991.98px) {
  .works__list {
    row-gap: 50px;
  }
}
@media (max-width: 575.98px) {
  .works__list {
    row-gap: 60px;
  }
}

.works__item {
  display: flex;
  justify-content: space-between;
}
.works__item > * {
  flex-shrink: 0;
}
@media (max-width: 991.98px) {
  .works__item {
    flex-direction: column-reverse;
  }
}
.works__item:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 991.98px) {
  .works__item:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.works__item-img {
  padding: 30px;
  background-color: var(--works-img-border-color);
  border-radius: 20px;
  width: 100%;
  height: 430px;
}
@media (max-width: 575.98px) {
  .works__item-img {
    height: auto;
    padding: 24px;
  }
}
.works__item--column-1 {
  flex-basis: 470px;
}
@media (max-width: 1199.98px) {
  .works__item--column-1 {
    flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 991.98px) {
  .works__item--column-1 {
    align-self: center;
  }
}
@media (max-width: 575.98px) {
  .works__item--column-1 {
    max-width: 400px;
    height: 306.489px;
  }
}
.works__item--column-2 {
  --size: 36px;
  position: relative;
  line-height: var(--size);
  text-align: center;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--text-dark-color);
  margin-top: 20px;
  color: var(--white);
}
@media (max-width: 1199.98px) {
  .works__item--column-2 {
    display: none;
  }
}
.works__item--column-2.active {
  color: var(--black);
  background: var(--number-works-item-bg-color);
}
.works__item--column-2.active::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 254px;
  position: absolute;
  background: var(--number-works-item-bg-color);
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: 1;
}
.works__item--column-2::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 500px;
  position: absolute;
  background: #8ca4a8;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.works__item--column-3 {
  margin-top: 10px;
  flex-basis: 470px;
}
@media (max-width: 1199.98px) {
  .works__item--column-3 {
    flex-basis: calc(50% - 20px);
  }
}
.works__item-title {
  color: var(--white);
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 115.789%;
  width: 90%;
  margin-bottom: 18px;
}
@media (max-width: 575.98px) {
  .works__item-title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 126.667%;
  }
}
.works__item-desc {
  color: var(--section-desc-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
  padding-bottom: 30px;
}
.works__item-benefits {
  display: flex;
  gap: 16px;
  padding: 20px 0 30px;
  border-top: 1px solid var(--white);
  flex-direction: column;
  color: var(--section-desc-color);
  list-style: disc;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
.works__item-benefits > * {
  margin-left: 23px;
  max-width: 373px;
}

@media (max-width: 575.98px) {
  .works__item-desc,
  .works__item-benefits {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.works__item:last-child .works__item-benefits {
  list-style: none;
}
.works__item:last-child .works__item-benefits > * {
  margin-left: 0;
  max-width: unset;
}
.works__item:last-child .works__item-benefits span {
  font-weight: 500;
  color: var(--white);
}
.works__item:last-child .works__item--column-2::after {
  height: 375px;
}

.features {
  background: var(--services-bg-color);
}
.features__inner {
  padding: 0 120px;
}
@media (max-width: 1399.98px) {
  .features__inner {
    padding: 0;
  }
}
.features__list {
  display: grid;
  grid-template-columns: 0.93fr 1fr 0.93fr;
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  background: rgba(241, 241, 241, 0.1);
  grid-gap: 2px;
}
.features__list > :nth-child(-n+3) {
  padding-bottom: 60px;
}
.features__list > :nth-child(n+4):nth-child(-n+6) {
  padding-top: 60px;
}
.features__list > :nth-child(3n+1) {
  padding-right: 40px;
}
.features__list > :nth-child(3n+2) {
  padding-left: 60px;
  padding-right: 40px;
}
.features__list > :nth-child(3n+3) {
  padding-left: 30px;
  padding-right: 70px;
}
@media (max-width: 1199.98px) {
  .features__list > :nth-child(-n+3) {
    padding-bottom: 30px;
  }
  .features__list > :nth-child(3n+3) {
    padding-left: 30px;
    padding-right: 20px;
  }
  .features__list > :nth-child(3n+2) {
    padding-left: 30px;
    padding-right: 20px;
  }
  .features__list > :nth-child(3n+1) {
    padding-right: 20px;
  }
  .features__list > :nth-child(n+4):nth-child(-n+6) {
    padding-top: 30px;
  }
}
@media (max-width: 991.98px) {
  .features__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .features__list > :nth-child(-n+2) {
    padding-bottom: 30px;
  }
  .features__list > :nth-child(n+3):nth-child(-n+4) {
    padding-top: 30px;
  }
  .features__list > :nth-child(2n+1) {
    padding-left: 0;
    padding-right: 40px;
  }
  .features__list > :nth-child(2n) {
    padding-left: 30px;
    padding-right: 20px;
  }
}
@media (max-width: 575.98px) {
  .features__list {
    grid-gap: 0;
    background: transparent;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
  .features__list > :nth-child(n) {
    padding: 0 20px 30px 0 !important;
  }
}
.features__item {
  background: var(--services-bg-color);
}
.features__icon {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: var(--features-icon-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.features__item-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
  color: var(--white);
  margin-bottom: 14px;
}
.features__item-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
  color: var(--section-desc-color);
}

@media (max-width: 575.98px) {
  .container {
    --grid-gutter-x: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
