@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

@mixin hideItem {
    transition-property: opacity, transform, visibility;
    transition-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
}

:root {
    --text-dark-color: #2d2d2d;
    --text-light-dark-color: #676562;
    --header-bg: #f2ede6;
    --text-navbar-mobile-color: #6672a9;
    --text-navbar-active-mobile-color: #3764fc;
    --navbar-mobile-shadow-color: rgba(0, 0, 0, 0.1);
}

.header {
    background-color: var(--header-bg);
}

.navbar {
    @extend %flexItemCenter;
    padding: 30px 120px;

    @include abstracts.breakpoint(xxl) {
        padding: 30px 0;
    }

    @include abstracts.breakpoint(lg) {
        justify-content: space-between;
    }

    &__list {
        @extend %flexItemCenter;
        column-gap: 36px;
        margin-right: auto;
        margin-left: 71.73px;

        @include abstracts.breakpoint(lg) {
            position: fixed;
            flex-direction: column;
            left: 0;
            top: 0;
            bottom: 0;
            align-items: flex-start;
            margin-left: 0;
            right: 65%;
            background: #fff;
            padding: 30px;
            box-shadow: 0px 1px 2px 0px var(--navbar-mobile-shadow-color);
            transform: translateX(-100%);
            @include hideItem;
        }

        @include abstracts.breakpoint(sm) {
            right: 20%;
        }

        &.fadeIn {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    &__item {
        transition-property: background-color;
        transition-duration: 0.3s;
        @include abstracts.breakpoint(lg) {
            width: 100%;
            border-radius: 15px;
        }
        &:hover {
            @include abstracts.breakpoint(lg) {
                background-color: #ebeffd;
            }
        }

        &:hover .navbar__link {
            @include abstracts.breakpoint(lg) {
                color: var(--text-navbar-active-mobile-color);
            }
        }
    }

    &__link {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 112.5%;
        color: var(--text-dark-color);
        transition-property: color;
        transition-duration: 0.3s;
        @include abstracts.breakpoint(lg) {
            display: block;
            width: 100%;
            padding: 12px 0;
            font-size: 1.8rem;
            color: var(--text-navbar-mobile-color);
            padding-left: 15px;
        }
    }

    &__more-icon {
        display: none;
        @include abstracts.breakpoint(lg) {
            display: block;
            order: 1;
        }

        @include abstracts.breakpoint(sm) {
            display: block;
            order: 2;
        }
    }
}

.cta {
    @extend %flexItemCenter;
    gap: 28px;
    @include abstracts.breakpoint(lg) {
        order: 3;
    }

    @include abstracts.breakpoint(sm) {
        display: none;
    }

    &__link {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 112.5%;
        color: var(--text-dark-color);
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    @include hideItem;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}
