:root {
    --text-dark-color: #2d2d2d;
    --text-light-dark-color: #676562;
    --header-bg: #f2ede6;
    --text-navbar-mobile-color: #6672a9;
    --text-navbar-active-mobile-color: #3764fc;
    --navbar-mobile-shadow-color: rgba(0, 0, 0, 0.1);
    --button-yellow-color: #f7d047;
    --text-white-color: #f2ede6;
    --hero-desc-color: #676562;
    --white: #fff;
    --black: #000;
    --services-bg-color: #005461;
    --section-desc-color: rgba(255, 255, 255, 0.8);
    --works-img-border-color: #018294;
    --number-works-item-bg-color: #f7d047;
    --features-icon-bg-color: #018294;
    --prices-item-separate-color: #f2ede6;
    --prices-item-active-bg-color: #028193;
}
